SUPABASE_URL=https://kmtrwujlmkrtlkyhhjjj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttdHJ3dWpsbWtydGxreWhoampqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MjAyNDcsImV4cCI6MjA4NzQ5NjI0N30.8dNppuIweYJJm3qoA2ft9-lPo46X-aQIL8jQRwHEfkY